#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#loader {
  z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
  color: #EEEEEE;
}

#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;
}

.loaded #loader-wrapper {
  visibility: hidden;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}
#particles-js.red {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffc000;
}

body {
  background: #000000;
  margin: 0;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

.team{
  width: 100vw;
}
.text {
  position: absolute;
  top: 50%;
  right: 50%;
  left: -20%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  color: #fff;
  max-width: 150%;
  padding: 2em 3em;
  font-family: 'Open Sans', sans-serif;

}

.navtext {
  position: absolute;
  font-size: 24px;
  top: 0%;
  left: 60%;
  font-weight: bold;
  color: #fff;
  padding: 0.2em 0em;
  background: rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

.titled {
  position: relative;
  font-size:80px;
  padding-right: 10%;
  z-index: 1;
}

.titlesunder {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: -0.15px;
  text-align: center;
  line-height: 0.5;
  color: #e34234;
}

#home.navimg{
  width: 100px;
  position: absolute;
  padding-top: 2.5%;
  padding-right: 88%;
  padding-left: 1%;
  color: #fff;
}

img.navimg{
  width: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  align-items: left;
}

li {
  display: inline;
  align-items: left;
}
p.titlesblurb {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  transition: 2.4s;
  delay: 0.5s;
  font-weight:lighter;
  font-size: 24px;
  color: rgb(255,255,255,1);
  padding-left: 20px;
}

/* put in lightbox shit----*/
h1.titles {

  font-weight:lighter;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-size: 70px;
  margin-bottom: -10px;
  transition: 2.4s;
  delay: 0.5s;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2.25em;
  font-weight:lighter;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  font-size: 50px;
  transition: 2.4s;
  delay: 0.5s;
  font-family: 'Raleway', sans-serif;
}

a,
a:visited {
  color: #e34234;
  transition: 0.25s;
  delay: 0.5s;
}

a:hover,
a:focus {
  color: #ba160c;
}

h3{
  color:#e34234;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 1;
  font-size: 25px;
  transition: 2.4s;
  delay: 0.5s;
  line-height: 1;
}

h3.titlesunder{
  color:#e34234;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 1;
  font-size: 30px;
  transition: 2.4s;
  delay: 0.5s;
  line-height: 1;
}

/*flexbox for ebaord, gallery (temporary) and choreographers */
.row-info{
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  width:  100%;
  align-items: center;

  height: 5vh;
}

.column-info{
  display: flex;
  flex-direction:  column;
  flex-basis:110%;
  flex: 0.8;
}

.one-column-info{
  height: 10vh;
  width: 25vw;
  background: transparent;
  padding-left: 10%;
}

.two-column-info{
  height: 10vh;
  width: 35vw;
  right: 10%;
  background: transparent;

}
.three-column-info{
  height: 10vh;
  width: 25vw;
  background: transparent;
}

/*footer text css styling*/
p.bottom-info{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.info-wrap{
  background-color: #121212;
  /*move footer around: margin-bottom: (number)%;*/

  padding-top: 99vh;
}

img.navi{
  width: 90px;
  transition: 1s;
  delay: 0.5s;
}
/*------------- timeline css  ----------------*//*-----------------------------*//*-----------------------------*/
@media screen and (max-width: 1000px){

  img.navi{
    width: 120px;
    transition: 1s;
    delay: 0.5s;
    }text {
      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      color: #fff;
      max-width: 90%;
      padding: 2em 3em;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      transform: 2.4s;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: transparent;
      align-items: left;
    }

    h1{
      font-size: 40px;
    }

    h3.titlesunder {
      font-size: 1.2em;
      font-weight: 500;
      letter-spacing: -0.15px;
      text-align: center;
      line-height: 1;
      color: #e34234;
      font-size: 28px;
    }


    p.titlesblurb {
      margin-top: 0;
      font-family: 'Raleway', sans-serif;
      transition: 2.4s;
      delay: 0.5s;
      font-weight:lighter;
      font-size: 24px;
      color: rgb(255,255,255,1);
      padding-left: 20px;
    }

    li {
      display: inline;
      align-items: left;

    }

  }





  /*------------- home  page more css  ----------------*//*-----------------------------*//*-----------------------------*/

  body {
    background: #121212;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    transition: opacity 3s;
    delay: 0.5s;
  }
